<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.and_project">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".mainActivity.AddMealActivity"
            android:parentActivityName=".mainActivity.MainActivity">
        </activity>

        <activity android:name=".SettingsActivity"
            android:parentActivityName=".mainActivity.MainActivity">
        </activity>

        <activity android:name=".stepCounterActivity.PedometerListActivity"
            android:parentActivityName=".mainActivity.MainActivity">
        </activity>

        <activity android:name=".CalendarActivity"
            android:parentActivityName=".mainActivity.MainActivity">
        </activity>

        <activity android:name=".GoalsActivity"
            android:parentActivityName=".mainActivity.MainActivity">
        </activity>

        <activity android:name=".ProfileActivity"
            android:parentActivityName=".mainActivity.MainActivity">
        </activity>

        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".mainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".stepCounterActivity.StepsService"
            android:foregroundServiceType="" />
    </application>

</manifest>